<ion-view title="校史文化" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
       
       <!-- <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page4-video2" class=" ">
            <iframe src="http://player.youku.com/player.php/sid/XMTUzMDQ0MDE1Ng==/partnerid/28b5f354ad0d19c0/v.swf" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div> 
        <div class="spacer" style="width: 300px; height: 20px;"></div>

        -->

        <ion-list id="page4-list5" class=" ">
            <div class="list card ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item14">
                <img src="img/scene1.jpg" style="width:100%"/>
                <p style="white-space:normal;">云南大学始建于1922年，时为私立东陆大学，1934年更名为省立云南大学，1938年改为国立云南大学，是我国西部边疆最早建立的综合性大学之一。1937年，著名数学家、教育家熊庆来出任校长，一大批著名学者受聘到校任教，奠定了学校较高的发展基点和深厚的学术底蕴，开创了云大办学历史上的第一个辉煌时期。20世纪40年代，云南大学已发展成为一所包括文、法、理、工、农、医等学科在内，规模较大，在国际上有影响的中国著名大学之一。1946年，《不列颠百科全书》将云南大学列为中国15所世界著名大学之一。</p>
            </ion-item>
            </div>
            <div class="list card ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item14">
                <img src="img/scene3.jpg" style="width:100%"/>
                <p style="white-space:normal;">改革开放后，云南大学获得了长足的进步。1996年首批列入国家 “211工程”重点建设大学，2001年列入西部大开发重点建设院校， 2004年成为教育部和云南省人民政府重点共建高校，2006年本科教学工作水平评估共19项二级指标全部评定为A，被教育部评为本科教学优秀学校，2012年成为国家“中西部高校基础能力建设工程”和“中西部高校提升综合实力工程”实施院校。

            </p>
            </ion-item>
            </div>
            <div class="list card ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item14">
                <img src="img/scene5.jpg" style="width:100%"/>
                <p style="white-space:normal;">云南大学学校占地面积4551.84亩，分布于呈贡校区和东陆校区，公用校舍建筑面积81.4万余平方米；教学、科研仪器设备资产总值4.32亿余元，图书馆藏书342余万册。学校是中国教育科研计算机网络（CERNET）云南主节点单位。

            </p>
            </ion-item>
            </div>
            <div class="list card ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item14">
                <img src="img/scene4.jpg" style="width:100%"/>
                <p style="white-space:normal;">学校现有教职工2899人，专任教师1691人，其中院士4人（含双聘、特聘院士），国家级有突出贡献的专家7人，享受国务院特殊津贴的专家53人，国家杰出青年科学基金获得者5人，国家“千人计划”入选者3人，青年“千人计划”入选者2人，教育部“长江学者”特聘教授3人，教育部“长江学者”讲座教授1人，国家级教学名师奖4人，国家“万人计划”教学名师1人。</p>
            </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>