<ion-view title="关于我们" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
    	<img src="img/about.jpg" style="width:100%"/>
        <p id="page10-markdown14" style="color:#000000;" class=" ">
        	云南大学 地址：昆明市翠湖北路2号 邮编：650091 滇ICP备05004791 
        </p>
        <p style="color:#000000;" class=" ">
			如果发现问题，请及时与学院网站开发小组联系，谢谢！
        </p>
        <p style="color:#000000;" class=" ">
			学院地址：云南省昆明市呈贡新区大学城云南大学校区    邮政编码：650500
        </p>
        <p style="color:#000000;" class=" ">
			联系电话（传真）：0871-5931551    电子邮件：sei@sei.ynu.edu.cn
        </p>
    </ion-content>
</ion-view>