<ion-view title="校园美景" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " >
            <ion-item class="item-icon-left  " >
                <i class="icon ion-ionic"></i>呈贡校区</ion-item>
            <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
                <img src="img/scene1.jpg" style="width:100%"/>
            </div>
            <div class="item item-body " >
                <p style="margin-top:0px;color:#000000;" class=" ">
                    <strong>云大风景美如画</strong>
                </p>
            </div>
        </div>
        <div class="list card " >
            <ion-item class="item-icon-left  " >
                <i class="icon ion-ionic"></i>公共管理学院</ion-item>
            <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
                <img src="img/scene2.jpg" style="width:100%"/>
            </div>
            <div class="item item-body " >
                <p style="margin-top:0px;color:#000000;" class=" ">
                    <strong>天高云淡，学院立于天地间</strong>
                </p>
            </div>
        </div>
        <div class="list card " >
            <ion-item class="item-icon-left  " >
                <i class="icon ion-ionic"></i>公共管理学院近照</ion-item>
            <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
                <img src="img/scene3.jpg" style="width:100%"/>
            </div>
            <div class="item item-body " >
                <p style="margin-top:0px;color:#000000;" class=" ">
                    <strong>绿草从中绿映红</strong>
                </p>
            </div>
        </div>
        <div class="list card " >
            <ion-item class="item-icon-left  " >
                <i class="icon ion-ionic"></i>公管学院</ion-item>
            <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
                <img src="img/scene4.jpg" style="width:100%"/>
            </div>
            <div class="item item-body " >
                <p style="margin-top:0px;color:#000000;" class=" ">
                    <strong>金碧辉煌楼宇在</strong>
                </p>
            </div>
        </div>
        <div class="list card " >
            <ion-item class="item-icon-left  " >
                <i class="icon ion-ionic"></i>春满东陆</ion-item>
            <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
                <img src="img/scene5.jpg" style="width:100%"/>
            </div>
            <div class="item item-body " >
                <p style="margin-top:0px;color:#000000;" class=" ">
                    <strong>花木为春，一直红杏出墙来</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>