<ion-view title="举报中心" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page9-form4" class="list ">
            <label class="item item-input " id="page9-input7">
                <input type="text" placeholder="被举报用户" ng-model="r.username">
            </label>
            <label class="item item-input " id="page9-input11">
                <input type="text" placeholder="被举报原因" ng-model="r.reason">
            </label>
        </form>
        <button id="page9-button5" style="border-radius:11px 11px 11px 11px;" class=" button button-assertive  button-block " ng-click="report(r)">提交</button>
    </ion-content>
</ion-view>